$font-stack:    Helvetica, sans-serif
body
  font: 100% $font-stack
.row
  margin-left: 0
  margin-right: 0
header
  width: 100%
  background: url('imgs/1.jpg') no-repeat center
  background-size: cover
  height: 100vh
  position: relative
  .btn
    background: white
    padding: 5px 8px
    position: fixed
    box-shadow: 0px 0px 3px #848484
    z-index: 1
  .header-title
    position: absolute
    top: 20%
    left: 16%
    h1
      font-size: 120px
    .text-one
      color: black
      span
          color: #d20d0d
    .text-two
      color: #b6b0e4
      margin-top: -15px
      span
        color: yellow
    p
      color: #fbd2d9
      font-size: 35px
      letter-spacing: 10px
      opacity: .7
  .see-more
    text-align: center
    font-weight: lighter
    position: absolute
    top: 80%
    left: 44%
    color: #fff
    a
      font-size: 30px
      text-decoration: none
      color: #fff
      i
        margin-top: 10px
        font-size: 40px
.top
  width: 270px
  display: flex
  align-items: center
  padding: 40px
  margin: 0 auto
@mixin i
  width: 20%
  font-size: 31px
@mixin dot
  width: 40%
  border-bottom: 3px dotted
.about-block
  padding: 60px 0
  background: #d20d0d
  color: #fff
  text-align: center
  h3
    font-size: 27px
    color: #fff
  span
    color: yellow
  p
    width: 70%
    margin: 0 auto
  .dot
    @include dot
  .fa-chevron-down
    @include i
    color: #000

.services
  padding: 40px 0
  text-align: center
  h3
    font-size: 27px
    color: #000
  .dot
    @include dot
    color: grey
  .fa-chevron-down
    @include i
    color: grey

  .service-block
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    h2
      font-size: 30px
      padding: 15px 0
    .line
      height: 5px
      width: 80px
      background: grey
    p
      color: grey
      margin: 15px 0
    .circle
      margin-bottom: 20px
      width: 150px
      height: 150px
      background: #fff
      border-radius: 50%
      border: 1px solid #d20d0d
      display: flex
      justify-content: center
      align-items: center
    .circle i
      color: #d20d0d
      
.projects
  padding-top: 40px
  text-align: center
  h2
    color: #d20d0d
    font-size: 30px
  h3
    font-size: 27px
    color: #000
    padding: 10px 0
  .dot
    @include dot
    color: grey
  .fa-chevron-down
    @include i
    color: grey
  .col-lg-3
    padding: 0
  .pictures img
    width: 100%
    height: 500px
    object-fit: cover
    filter: grayscale(100%)
  .left
    object-position: left
  .center
    object-position: center
footer
  padding: 40px 0
  text-align: center
  span
    color: #d20d0d
  h3
    font-size: 27px
    color: #000
  .dot
    @include dot
    color: grey
  .fa-chevron-down
    @include i
    color: grey
  .datas
    margin-bottom: 40px
    .data
      background: lightgrey
      display: flex
      flex-direction: column
      justify-content: space-evenly
      align-items: center
      height: 300px
      border-bottom: 4px solid #d20d0d
      h4
        font-size: 30px
        padding: 15px 0
      p
        color: grey
        margin: 15px 0
        width: 100%
        font-size: 18px
      i
        text-align: center
      .line
        height: 5px
        width: 100px
        background: grey
    iframe
      width: 100%
      height: 600px    
    form
      display: flex
      flex-direction: column
      justify-content: space-between
      height: 600px
      .inputs
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          text-align: center
          input
            width: 47%
            font-family: sans-serif
            font-size: 18px
            height: 45px
            border: 1px solid lightgrey
      textarea
        font-family: sans-serif
        font-size: 18px
        margin-top: 10px
        height: 540px
        border: 1px solid lightgrey
  .submit
    text-align: right
    margin: 50px 0
    .btn
      padding: 12px 20px
      background: #ff0991
      border: 1px solid #fff
      color: #fff
      font-weight: bold
      font-size: 18px
      transition: all .3s ease-in-out
      &:hover
        background: yellow
        border: 1px solid #fff
  .icons
    width: 50%
    margin: 0 auto
    li
      background: #ff0991
      padding: 5px
      list-style: none
      a
        text-decoration: none
        color: #fff
  .text
    margin-top: 50px
    background: lightgrey
    padding: 80px

$mob : 320px
$md : 768px
$min-width: min-width
$max-width: max-width

@media ($min-width: $mob) and ($max-width: $md)
  header
    .see-more
      position: absolute
      top: 70%
      left: 39%
      i
        font-size: 30px
      a
        font-size: 25px
      p
        margin-top: 20px
    .btn
      padding: 0px 5px
    .header-title
      p
        font-size: 35px
      h1
        font-size: 75px
  footer
    .data
      margin-bottom: 40px




      


    

        




  


















          













