body {
  font: 100% Helvetica, sans-serif; }

.row {
  margin-left: 0;
  margin-right: 0; }

header {
  width: 100%;
  background: url("imgs/1.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  position: relative; }
  header .btn {
    background: white;
    padding: 5px 8px;
    position: fixed;
    box-shadow: 0px 0px 3px #848484;
    z-index: 1; }
  header .header-title {
    position: absolute;
    top: 20%;
    left: 16%; }
    header .header-title h1 {
      font-size: 120px; }
    header .header-title .text-one {
      color: black; }
      header .header-title .text-one span {
        color: #d20d0d; }
    header .header-title .text-two {
      color: #b6b0e4;
      margin-top: -15px; }
      header .header-title .text-two span {
        color: yellow; }
    header .header-title p {
      color: #fbd2d9;
      font-size: 35px;
      letter-spacing: 10px;
      opacity: 0.7; }
  header .see-more {
    text-align: center;
    font-weight: lighter;
    position: absolute;
    top: 80%;
    left: 44%;
    color: #fff; }
    header .see-more a {
      font-size: 30px;
      text-decoration: none;
      color: #fff; }
      header .see-more a i {
        margin-top: 10px;
        font-size: 40px; }

.top {
  width: 270px;
  display: flex;
  align-items: center;
  padding: 40px;
  margin: 0 auto; }

.about-block {
  padding: 60px 0;
  background: #d20d0d;
  color: #fff;
  text-align: center; }
  .about-block h3 {
    font-size: 27px;
    color: #fff; }
  .about-block span {
    color: yellow; }
  .about-block p {
    width: 70%;
    margin: 0 auto; }
  .about-block .dot {
    width: 40%;
    border-bottom: 3px dotted; }
  .about-block .fa-chevron-down {
    width: 20%;
    font-size: 31px;
    color: #000; }

.services {
  padding: 40px 0;
  text-align: center; }
  .services h3 {
    font-size: 27px;
    color: #000; }
  .services .dot {
    width: 40%;
    border-bottom: 3px dotted;
    color: grey; }
  .services .fa-chevron-down {
    width: 20%;
    font-size: 31px;
    color: grey; }
  .services .service-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .services .service-block h2 {
      font-size: 30px;
      padding: 15px 0; }
    .services .service-block .line {
      height: 5px;
      width: 80px;
      background: grey; }
    .services .service-block p {
      color: grey;
      margin: 15px 0; }
    .services .service-block .circle {
      margin-bottom: 20px;
      width: 150px;
      height: 150px;
      background: #fff;
      border-radius: 50%;
      border: 1px solid #d20d0d;
      display: flex;
      justify-content: center;
      align-items: center; }
    .services .service-block .circle i {
      color: #d20d0d; }

.projects {
  padding-top: 40px;
  text-align: center; }
  .projects h2 {
    color: #d20d0d;
    font-size: 30px; }
  .projects h3 {
    font-size: 27px;
    color: #000;
    padding: 10px 0; }
  .projects .dot {
    width: 40%;
    border-bottom: 3px dotted;
    color: grey; }
  .projects .fa-chevron-down {
    width: 20%;
    font-size: 31px;
    color: grey; }
  .projects .col-lg-3 {
    padding: 0; }
  .projects .pictures img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: grayscale(100%); }
  .projects .left {
    object-position: left; }
  .projects .center {
    object-position: center; }

footer {
  padding: 40px 0;
  text-align: center; }
  footer span {
    color: #d20d0d; }
  footer h3 {
    font-size: 27px;
    color: #000; }
  footer .dot {
    width: 40%;
    border-bottom: 3px dotted;
    color: grey; }
  footer .fa-chevron-down {
    width: 20%;
    font-size: 31px;
    color: grey; }
  footer .datas {
    margin-bottom: 40px; }
    footer .datas .data {
      background: lightgrey;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 300px;
      border-bottom: 4px solid #d20d0d; }
      footer .datas .data h4 {
        font-size: 30px;
        padding: 15px 0; }
      footer .datas .data p {
        color: grey;
        margin: 15px 0;
        width: 100%;
        font-size: 18px; }
      footer .datas .data i {
        text-align: center; }
      footer .datas .data .line {
        height: 5px;
        width: 100px;
        background: grey; }
    footer .datas iframe {
      width: 100%;
      height: 600px; }
    footer .datas form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 600px; }
      footer .datas form .inputs {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center; }
        footer .datas form .inputs input {
          width: 47%;
          font-family: sans-serif;
          font-size: 18px;
          height: 45px;
          border: 1px solid lightgrey; }
      footer .datas form textarea {
        font-family: sans-serif;
        font-size: 18px;
        margin-top: 10px;
        height: 540px;
        border: 1px solid lightgrey; }
  footer .submit {
    text-align: right;
    margin: 50px 0; }
    footer .submit .btn {
      padding: 12px 20px;
      background: #ff0991;
      border: 1px solid #fff;
      color: #fff;
      font-weight: bold;
      font-size: 18px;
      transition: all 0.3s ease-in-out; }
      footer .submit .btn:hover {
        background: yellow;
        border: 1px solid #fff; }
  footer .icons {
    width: 50%;
    margin: 0 auto; }
    footer .icons li {
      background: #ff0991;
      padding: 5px;
      list-style: none; }
      footer .icons li a {
        text-decoration: none;
        color: #fff; }
  footer .text {
    margin-top: 50px;
    background: lightgrey;
    padding: 80px; }

@media (min-width: 320px) and (max-width: 768px) {
  header .see-more {
    position: absolute;
    top: 70%;
    left: 39%; }
    header .see-more i {
      font-size: 30px; }
    header .see-more a {
      font-size: 25px; }
    header .see-more p {
      margin-top: 20px; }
  header .btn {
    padding: 0px 5px; }
  header .header-title p {
    font-size: 35px; }
  header .header-title h1 {
    font-size: 75px; }

  footer .data {
    margin-bottom: 40px; } }

/*# sourceMappingURL=style.css.map */
